@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
margin: 0;
padding: 0;
background-color: grey;
color: #121212;
 font-family: "Roboto", sans-serif;
}

.container{
    width: 620px;
    height: 877px;
    background-color: white;
    margin: 30px auto;

}

.header{
    position: relative;
    width: 100%;
    height: 30%;
    display: flex;
}
.name-job-title{
    margin-left: 50px;
    margin-top: 30px;
}
.firstname{
    font-size: 1.1em;
}
.lastname{
    font-size: 1.2em;
}
.line{
    width: 125%;
    height: 3px;
    background-color: #272727;
}
.profile-image{
    position: absolute;
    bottom: -4px;
    right: 60px;
    z-index: 1;
}

.body{
    display: flex;
}

.left{
    width: 65%;
    height:613.9px;
    margin-left: 10px;
}
.contact{
    display: flex;
    gap: 35px;
    width: 100%;
    background-color: black;
    height: 90px;
    color: white;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.right{
    width: 35%;
    height: 613.9px;
    background-color: #EBEBEB;
}